.page-consultar{

    background-image: linear-gradient(100deg, rgb(68, 140, 247), rgb(56, 245, 166));
        min-height: 100vh;
   
    .main{
      display: flex;
        flex-direction: column;  
        align-items: center;
        
    }
    .main2{
        display: flex;
        flex-direction: column;

    }
    .cx{
        display:flex;
        flex-direction: row;
        margin: 4em 0em;
    }
    h1{
        font-size: 50px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    .c1{
        margin-top: 1em;
        display: flex;
        flex-direction: row;
    }
    .c3{
        margin-top: 1em;
        display: flex;
        flex-direction: row;
    }
    .divb{
        display: flex;
        
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        padding: 35px 35px;
    
    }
    .b1{
        padding: 10px 10px;
        background-color: #4b10aa;
        border-radius: 20px;
        text-decoration: none;
        transition:  background-color 1s;
        color: white;
        font-size: 15px;
        font-family: 'discord5';
        
    }
    .b1:hover{
        background-color: #8740f8;
        cursor: pointer;
    }
        
    .c{
        text-decoration: none;
        color: white;
        font-family:monospace;
    }
    .btnome{
        padding: 12px 12px;
        background-color:rgb(2, 78, 243);
        color: white;
        font-size: 20px;
        border-radius: 20px;
        border: none;
        font-family:'discord5';
    }
    .btnome:hover{
        cursor: pointer;
        background-color:rgb(0, 4, 14);
    }

    .c2{
        margin-left: 2em;
    }
    img{
        height: 42px;
        margin-left: 1em ;
        transition:  .3s;
    }
    img:hover{
        cursor: pointer;
        transform: scale(1.5s);
    }

    input{
        width: 20em;
        padding: 12px 15px;
        border-radius: 20px;
        border: none;
        box-shadow: 0 0 0 0;
        outline: 0;
    }
    
}